# Numeric, computation
numpy
scipy
pandas==0.23.4

# Visualization
matplotlib
seaborn

# Machine learning
scikit-learn==0.19.2
imbalanced-learn==0.3.3
sklearn-pandas
scikit-image

# Notebooks
jupyterlab

# misc
six
natsort
